/* General Styling */
html{
    background-color: rgb(190, 203, 207);
}

body {
    background-color: rgba(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;  
    line-height: 1.2;
    margin: 2em;
    
}

header {
    background-color: rgb(190, 203, 207);
    padding: 5px;
}

h1 {
    font-size: 30px;
    margin: 0.5em;
    text-align: center;
    text-decoration: underline;
}

h1:hover {
    color: rgb(78, 77, 77);
}

h1, h2, h4 {
 font-family: 'Merriweather', serif;
}

h2 {
    font-size: 20px;
    font-weight: 300;
}


h4 {
    font-size: 20px;
    margin: 1em; 
    color: black;  
}

section {
    margin: 2em;
}

footer {
    display: block;
    background-color: rgb(190, 203, 207);
    margin: 0;
    padding: 0.3em;
    color: white;
}



/* Navigation Bar */

.menubtn {
    color:black;
}

.menubtn:hover {
    color: white;
}

.searchbtn {
    color: black;
}

.searchbtn:hover {
    color: white;
}



/*Recipe Description & Time*/

.description {
    padding: 0em 1em;
    text-align: center;
    font-style: italic;
}

/*Ingredients */

.ingredients { 
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: block;

}

/*Instructions */

.instructions {
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: inline-block;
}

/*Nutritional Facts*/

.nutrition {
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: inline-block;
}

/* Review Section */

.grade {
    color: gainsboro;
}

.grade:hover {
    color: black;
}

.review-text {
    color: rgb(134, 134, 134);
    font-style: italic;
}

.review-box {
    display: inline-block;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 4px;
    padding: 0 1em;
    margin: 0;
}

.btn { 
    display: inline-block;
    background-color: rgb(8, 8, 8);
    padding: 0.5em 1.5em;
    margin: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(43, 43, 43);
}



/*Footer/Find Us Styling*/

.contact {
    background-color: rgba(179, 179, 179, 0.3);
    border-radius: 4px;
    display: block;
    padding: 0.5em;
    font-size: 17px;
    margin: 2em 0em;
    
}

.social {
    list-style-type: none;
    color: white;
}
.social a:hover {
    color: rgb(14, 14, 14);
    
}


.legal {
    list-style-type: none;
}

.legal a:hover {
    color:black;
}
 