/* General Styling */
:root {
    background-color: rgb(190, 203, 207)
    
}
html{
    background-image: url("https://images.unsplash.com/photo-1501769214405-5e5ee5125a02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=398&q=80")
}

body {
    background-color: rgba(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;  
    line-height: 1.2;
    margin: 2em;
}

img {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    margin-top: -2em;
}

header {
    background-color: white;
    padding: 5px;
}

h1 {
    font-size: 30px;
    margin: 0.5em;
    text-align: center;
    text-decoration: underline;
}

h1:hover {
    color: rgb(78, 77, 77);
}

h1, h2, h4 {
 font-family: 'Merriweather', Verdana, serif;
 
}

h2 {
    font-size: 20px;
    font-weight: 300;
}

h3 {
    font-style: italic;
}

h4 {
    font-size: 20px;
    margin-left: 1.5em; 
    margin-bottom: 1em;
    color: rgb(255, 255, 255);  
    
}

section {
    margin: 2em;
}

footer {
    display: block;
    background-color: rgb(190, 203, 207);
    margin: 0;
    padding: 0.3em;
    color: white;
}



/* Navigation Bar */


.menubtn {
    color:black;
}

.menubtn:hover {
    color: white;
}

.searchbtn {
    color: black;
}

.searchbtn:hover {
    color: white;
}

.search-container {
    display: inline-block;
}


/*Recipe Description & Time*/

.description {
    padding: 0em 1em;
    text-align: center;
    font-style: italic;
}

/*Ingredients */

.ingredients { 
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: block;

}

/*Instructions */

.instructions {
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: inline-block;
}

/*Nutritional Facts*/

.nutrition {
    background-color: rgb(231, 231, 231, 0.1);
    padding: 1em;
    display: inline-block;
    height: 150px;
}


/* Similar Recipes */

.browse {
    text-align: center;
    margin-top: -5em;
}

.similar-recipes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-style: italic;
    font-size: 16px;
    line-height: 2;
    margin-bottom: 5em;

    
}

.similar-recipes img{
    width: 250px;
    height: 250px;
    margin-top: 0.1em;
    opacity: 1;
}

.similar-recipes img:hover {
    opacity: 0.7;
    transition: .5s ease;
}

.similar-recipes a {
    color: rgb(19, 18, 18);
}

.similar-recipes a:hover {
    text-decoration: underline;
}



/* Review Section */

.grade {
    color: rgb(187, 184, 184);
}

.grade:hover {
    color: black;
}

.review-text {
    color: rgb(134, 134, 134);
    font-style: italic;
}

.review-box {
    display: inline-block;
    border: 1px solid rgb(148, 148, 148);
    border-radius: 3px;
    padding: 0 1em;
    margin: 0;
}

.btn { 
    display: inline-block;
    background-color: rgb(8, 8, 8);
    padding: 0.5em 1.5em;
    margin: 1em 0;
}

a {
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(43, 43, 43);
}

.next-recipe {
    text-align: right;
}

.next-recipe:hover {
    text-decoration: underline;
}


/*Footer/Find Us Styling*/

.contact {
    background-color: rgb(219, 219, 219, 0.3);
    border-radius: 4px;
    display: block;
    padding: 0.5em;
    font-size: 17px;
    font-weight: 300;
    margin: 2em 3em;
    border: 2px solid white;
    
}

.social {
    list-style-type: none;
    
}

.social a {
    color: black;
}
.social a:hover {
    color: white; 
}


.legal {
    list-style-type: none;
    display: flex;
    position: relative;
    margin-left: -2em;
    justify-content: space-evenly;
}

.legal a {
    color: rgb(253, 253, 253);
}

.legal a:hover {
    color:white;
    text-decoration: underline;
}

/* Media Queries */

@media screen and (max-width: 1000px) {

    h2 {
        text-align: center;
    }

    .ingredients {
        display: block;
    }

    .ingredients li{
       margin-left: 16em;
    }

    .instructions {
      display: block;
    }

    .instructions li {
        margin-left: 3em;
     }

     .nutrition {
         text-align: center;
         margin-left: 10em;

     }
}
 

@media screen and (min-width: 1300px) {

body {  
    font-size: 18px;

}

h1 {
    font-size: 30px;
}

h2, h4 {
    font-size: 25px;
}

.grid-wrapper {
    margin-top: 3em;
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    grid-template-rows: 1fr 1fr;
    
}

.n {
    grid-column: 1/4;
    grid-row: 2/3;
}

}